<app-header></app-header>

<div class="food">
<main class="container-fluid cover  ">
	<div class="row align-items-center justify-content-center justify-content-x-start vh-80">
		<div class="col col-sm-6 text-center text-xl-center col-xl-4 offset-xl-0">
			<h1 class="mb-4">Food Zone</h1>
			<h3 class="mb-5 subtitle-mb">Healthy Food, Happy Mood</h3>
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Enter Food Name" aria-label="Search" [(ngModel)]="searchTerm" (keyup)="search($event)">
			
			</div>
	
			
		</div>
	</div>
</main>
</div>

